<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mini-AI-App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<header>
    <h1>Mini AI App</h1>
</header>
    <div id="main">
        {% if chat %}
            {% for pair in chat %}
                <div id="prompt-field">
                    <p id="prompt">{{ pair.prompt }}</p><br>
                </div>
                <div id="response-field">
                        <p id="response">{{ pair.reply }}</p>
                </div>
            {% endfor %}
            <form action="/generate" method="post" id="input-form">
                <label for="input-field">
                    <input type="text" name="prompt" id="input-field" placeholder="Ask me anything..." required><br>
                </label>
                <button type="submit" value="Generate" id="generate">Send</button>
            </form>
        {% else %}
            <form action="/generate" method="post" id="input-form">
                <label for="input-field">
                    <input type="text" name="prompt" id="input-field" placeholder="Ask me anything..." required><br>
                </label>
                <button type="submit" value="Generate" id="generate">Send</button>
            </form>
        {% endif %}
    </div>
</body>
</html>